// color variables
$primary-color: #0a0a23;
$dark-blue-color: #002ead;
$dark-purple:#5a01a7;
$color-white: #ffffff;
$color-gray-white: #f5f6f7;
$gray-80: #2a2a40;
$color-gray10: #dfdfe2;

// ------------
//   font family variables
// --------------------
$Roboto-Mono: 'Roboto Mono', monospace;
$Roboto-sans-serif:'Roboto', sans-serif;
$Lato-sans-serif: 'Lato', sans-serif;



