

@media (max-width: 600px) {
    .contact {
      padding: 2rem;
    }
  
    .contact-info p {
      font-size: var(--font-size-base);
    }
  }
  
  
  /* Responsive Design */
    @media screen and (min-width:768px){
      .menu .fa-bars{
          display: none;
      }
      .hero {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
  
    .hero-left {
        flex: 1;
        align-items: flex-start;
        margin-bottom: 0;
    }
  
    .hero-right {
        flex: 2;
        padding-left: 2rem;
    }
    }